# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# OS Files
.DS_Store
Thumbs.db

# Git
*.swp
*.swo

# Environment files
.env
